:root {
  --background: 255, 255, 255;
  --foreground: 0, 0, 0;

  --lightBlue: #08c9f3;
  --blue: #2783fb;
  --darkBlue: #2062b8;
  --disabled: #c5deff;
  --gray-1: #f1f1f1;
  --gray-2: #f9f9f9;
  --gray-3: #333;
  --gray-4: #cfcfcf;
}

html,
body,
:root {
  height: 100%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  margin: 0px;
}
